%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => root_path} myToDo
    %ul.nav.navbar-nav
      %li
        %a{:href => tasks_path} Tasks
      %li
        %a{:href => tags_path} Tags
    